{% extends '::base.html.twig' %}

{% block title %}Job{% endblock %}

{% block body -%}

    <h1>{{ entity.functionFr }}</h1>


    <div class="row">

        <div class="col-sm-6">

            {{ include("DocBundle:Common:caroussel.html.twig") }}

        </div>


        <div class="col-sm-6 blockItemDetail">

            <div>Date : <strong> De {{ entity.dateStart|date('F Y') }} à {{ entity.dateEnd|date('F Y') }}</strong></div>

            <div>Description : <strong>{{ entity.textFr|nl2br }}</strong></div>

            {% if entity.tags|length > 0 %}

                <div>Tags :<strong> {{ UtilsService.getConcatenateTagsInLine(entity.tags, ", ") }}</strong></div>

            {% endif %}

            <div>Technologies mises en oeuvre :</div>

            <div class="technosListeItemDetail">

                {% for entity in entity.technos|sortByField("startedYear") %}
                    <a href="{{ path('techno_show', { 'id': entity.id }) }}">
                        <img src=" {{ asset('files/' ~ entity.files[0].fileName ) }}" class="miniLogoEnLigne50" title="{{ entity.name }} ({{ entity.technoCategory.nameFr }})" />
                    </a>
                {% endfor %}

            </div>

        </div>

    </div>




    <div class="adminDetail">
      <ul class="record_actions">
          <li>
              <a href="{{ path('job') }}">
                  Back to the list
              </a>
          </li>
          <li>
              <a href="{{ path('job_edit', { 'id': entity.id }) }}">
                  Edit
              </a>
          </li>
          <li>
              <a href="{{ path('job_delete', { 'id': entity.id }) }}" onclick="return confirm('are u sure?')">Supprimer</a>
          </li>
      </ul>
    <div>







    <div class="row workRowList">

        {% if works|length > 0 %}
            <div class="titleAssociatedWorks">Travaux associés</div>
        {% endif %}

        {% for entity in works %}

            <div class="col-xs-3 col-sm-3 col-md-3" style="height:300px;">

                {% if entity.files|length > 0 %}
                    <a class="mainLinkRowList" href="{{ path('work_show', { 'id': entity.id })}}">
                        <img src=" {{ asset('files/' ~ entity.files[0].fileName ) }}" class="img-responsive center-block vertical-center" />
                    </a>
                {% endif %}

                <div class="blockInfoList">

                    <div class="listeDate blue">

                        {{ entity.workType.nameFr }}

                        (
                        {% if entity.dateStart %}
                            {{ entity.dateStart|date('F Y') }}
                        {% endif %}
                        )

                    </div>

                    <div class="listeTitre">

                        {{ entity.nameFr }}

                    </div>

                </div>

            </div>

        {% endfor %}

    </div>

{% endblock %}
